.centerImg img {
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.markdown-source-view.mod-cm6 .cm-content > * {
  margin: auto auto !important;
}

img[alt*="center"] {  
display: block;  
margin-left: auto;  
margin-right: auto;  
}

.image-captions-figure {
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
}