.centerImg img {
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.markdown-source-view.mod-cm6 .cm-content > * {
  margin: auto auto !important;
}

img[alt*="center"] {  
display: block;  
margin-left: auto;  
margin-right: auto;  
}

/* Enlarge image on hover */
.markdown-source-view img {
  transition: transform 0.25s ease;
}

.markdown-source-view img:active {
  -webkit-transform: scale(2); /* experiment with values */
  transform: scale(2);
  z-index: -1;
}

.banner-image {
  border-radius: 0px !important;
  opacity : 1 !important;
}