
:root {
  --h1: 2em;
  --h2: 1.7em;
  --h3: 1.4em;
  --h4: 1.2em;
}

strong {
   color: pink ;
}

body .frontmatter-container .tag, body a.tag {
    background-color: rgb(29, 105, 75) !important ;  
    color: #ffffff !important ; 
}


/* for preview */
 .markdown-preview-view blockquote {
    background-color: #1b1f2b;
    border: 0px solid;
    border-color: #d80048 !important;
    border-left-width: 5px !important;
    border-radius: 0 8px 8px 0;
    line-height: 1.5em;
    font-weight: bold;
    margin: 10 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
		
} 

/* Vertical centering of text in blockquote */
blockquote {
  display: flex;
  flex-direction: column;
  justify-content: center;
}